<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolución diferencial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
</head>
<body>
<header>
    <h1>Algoritmo Genético</h1>
    <h2>Función: x^2 + (y / z)</h2>
</header>

<div class="container">

    <div class="start-button">
        <button id="start">INICIAR</button>
    </div>

    <div class="population-display">
        <textarea id="population-text" placeholder="Text area donde muestre la población generada" readonly></textarea>
    </div>

    <div class="process-table">
        <table id="process-table">
            <thead>
            <tr>
                <th>Generación</th>
                <th>Población (Maximización)</th>
                <th>Población (Minimización)</th>
                <th>Fitness Max</th>
                <th>Fitness Min</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>